body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

.boton-rojo {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.boton-rojo:hover {
    background-color: #c0392b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #2c3e50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #ecf0f1;
}

table tr:nth-child(odd) {
    background-color: #f4f4f9;
}

.pagado {
    text-decoration: line-through;
    background-color: #d1f7c4;
}

tfoot td {
    font-weight: bold;
    font-size: 18px;
    background-color: #bdc3c7;
}
.totales {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.totales p {
    margin: 5px 0;
}
/* Cambio en el estilo cuando el pedido está pagado */
tr.pagado {
    background-color: #d4edda; /* Fondo verde claro */
    text-decoration: midline;
    text-decoration-color: #28a745; /* Subrayado verde */
    color: #155724; /* Texto en color verde oscuro */
}
